# netbeans, vscode and phpstorm project files
nbproject
.vscode
/.idea/

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store
._.DS_Store

# phpunit itself is not needed
phpunit.phar
phpunit.xml

# box vagrant
.vagrant
*.box
*.log

# Dumps do banco de dados
*dump*
*db_invest*
*.sql*
*VBoxSVC*

#testes
tests/_output/
!/docker-compose/db_teste/data_test.sql
